<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incripciones Seminarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="alert alert-info display-1 mt-3 text-center">
            Seminarios
        </div>
        <div class="d-flex justify-content-center flex-row">
            <a href="agregar" class="btn btn-warning m-3">inscribirse a Seminario</a>
            <a href="instituciones" class="btn btn-warning m-3">Agregar Institucion</a>
            <a href="listado" class="btn btn-warning m-3">Listar Inscripciones</a>
            <a href="usuario" class="btn btn-warning m-3">Usuario</a>
        </div>
        <div class="d-flex justify-content-center flex-row">
            <a href="seminarioclass" class="btn btn-warning m-3">Seminario Class</a>
            <a href="institucionclass" class="btn btn-warning m-3">Institucion Class</a>
            <a href="buscar/" class="btn btn-warning m-3">Buscar por ID</a>
        </div>
    </div>
</body>
</html> 